<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title></title>
  </head>
  <body class="vh100">
			<div class="container container-flex ">
				<div class="row">
					<div class="col s2 margin-5">  
						<a class="waves-effect waves-light btn pink-btn"  href="signup.html">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col s9 offset-s1">
						<h5>Verify phone number</h5>
					</div>
					<div class="col s12 container-flex">
						<h5 class="item-flex">Join now for free ride credit</h5>     
					</div>
					<div class="col s12">
						<hr>
					</div>
					<form>
						<div class="row">
							<div class="col s8 margin-5 container-flex">
								<span class="item-flex margin-5">LAB - </span>
							</div>
						</div>
						<div class="row">								
							<div class="input-field col s12 container-flex">
									<a class="item-flex waves-effect waves-light btn-large pink-btn disabled" href="">Resend code</a>									
							</div>
						</div>
						<div class="container container-flex">
							<div class="row">
								<div class="col s12">
									<a class="item-flex waves-effect waves-light btn-large pink-btn disabled margin-15" href="">NEXT</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div> 
			<!-- Linkeando archivos -->
			<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
			<script type="text/javascript" src="../vendors/js/materialize.min.js"></script>
			<script src="../js/singup.js"></script>
		</body>
	</html>